In [4]:
import numpy as np
import os
import pandas as pd

In [9]:
dirWork         = os.getcwd()
dirInput        = os.path.join(dirWork, r'input'       )
dirIntermediate = os.path.join(dirWork, r'intermediate')
dirResults      = os.path.join(dirWork, r'results'     )

print("Working Directory: "      + dirWork   )
print("Input Directory: "        + dirInput  )
print("Intermediate Directory: " + dirInput  )
print("Results Directory: "      + dirResults)

Working Directory: E:\GitHub\UTA-OnBoardSurvey-2019
Input Directory: E:\GitHub\UTA-OnBoardSurvey-2019\input
Intermediate Directory: E:\GitHub\UTA-OnBoardSurvey-2019\input
Results Directory: E:\GitHub\UTA-OnBoardSurvey-2019\results

In [163]:
#read in on-board survey

csv_OBS = os.path.join(dirInput, r'2019 Final Weighted UTA OD Data - 2021-01-27.csv')
df_OBS  = pd.read_csv(csv_OBS)

#only have non-na id rows
df_OBS = df_OBS[df_OBS['id'].notna()]

display(df_OBS)

C:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (28,29,31,32,45,48,49,50,136,260) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,date_completed,final_route_surveyed_code,final_route_surveyed,direction,mode,purpose,resident_or_visitor_code,home_or_hotel_address,home_or_hotel_city,...,a_Stop_lon,access_dist,egress_dist,SurveyedRoute,AdjPeriod,AdjRecord,Adjustment,unlinked_weight_adj,linked_weight_adj,boarded_route
0,22.0,9-Sep-19,SLC_1_704_00,TRAX GREEN LINE TO WEST VALLEY CENTRAL STATION,0.0,1.0,1.0,1.0,5458 Jeremiah Dr,Kearns,...,-111.980172,0.46,0.14,704,EV,0.0,1.000000,2.344,0.781,TRAX GREEN LINE
1,24.0,9-Sep-19,SLC_1_704_00,TRAX GREEN LINE TO WEST VALLEY CENTRAL STATION,0.0,1.0,4.0,2.0,265 E 8880 S,Sandy,...,-111.900051,0.14,0.09,704,EV,0.0,1.000000,12.733,12.733,TRAX GREEN LINE
2,29.0,9-Sep-19,SLC_1_704_00,TRAX GREEN LINE TO WEST VALLEY CENTRAL STATION,0.0,1.0,3.0,1.0,644 W North Temple St,Salt Lake City,...,-111.986704,0.24,0.30,704,EV,0.0,1.000000,7.591,3.795,TRAX GREEN LINE
3,30.0,9-Sep-19,SLC_1_703_00,TRAX RED LINE TO DAYBREAK PARKWAY STATION,0.0,1.0,2.0,1.0,262 E Whitlock Ave,South Salt Lake,...,-111.725489,0.86,0.52,703,EV,0.0,1.000000,11.440,5.720,TRAX RED LINE
4,31.0,9-Sep-19,SLC_1_704_01,TRAX GREEN LINE TO AIRPORT STATION,1.0,1.0,1.0,1.0,2900 Lehman Ave,West Valley City,...,-111.891071,0.19,0.08,704,EV,0.0,1.000000,6.672,6.672,TRAX GREEN LINE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13412,22742.0,11-Dec-19,SLC_1_704_00,TRAX GREEN LINE TO WEST VALLEY CENTRAL STATION,0.0,1.0,1.0,1.0,2814 W Lemay Ave,West Valley City,...,-111.939324,0.47,2.45,704,EV,0.0,1.000000,4.493,4.493,TRAX GREEN LINE
13413,22743.0,11-Dec-19,SLC_1_704_01,TRAX GREEN LINE TO AIRPORT STATION,1.0,1.0,1.0,1.0,1420 W Arapahoe Ave,Salt Lake City,...,-111.914486,0.30,0.15,704,EV,0.0,1.000000,11.015,5.507,TRAX GREEN LINE
13414,22744.0,11-Dec-19,SLC_1_750_00,FRONTRUNNER TO OGDEN STATION,0.0,2.0,1.0,1.0,W 4800 S,Roy,...,-111.905124,0.64,0.52,750,EV,1.0,2.513809,11.238,11.238,FRONTRUNNER
13415,22745.0,11-Dec-19,SLC_1_750_00,FRONTRUNNER TO OGDEN STATION,0.0,2.0,1.0,1.0,2150 W 4800 S,Roy,...,-111.901146,0.76,0.08,750,EV,0.0,1.000000,11.951,5.976,FRONTRUNNER
13416,22746.0,11-Dec-19,SLC_1_704_00,TRAX GREEN LINE TO WEST VALLEY CENTRAL STATION,0.0,1.0,3.0,1.0,466 S Cheyenne St,Salt Lake City,...,-111.980172,0.37,0.14,704,EV,0.0,1.000000,26.851,13.425,TRAX GREEN LINE

In [164]:
#list out all columns
list(df_OBS)

['id',
 'date_completed',
 'final_route_surveyed_code',
 'final_route_surveyed',
 'direction',
 'mode',
 'purpose',
 'resident_or_visitor_code',
 'home_or_hotel_address',
 'home_or_hotel_city',
 'home_or_hotel_state',
 'home_or_hotel_zip',
 'home_or_hotel_lat',
 'home_or_hotel_long',
 'final_origin_place_type_code',
 'origin_address',
 'origin_city',
 'origin_state',
 'origin_zip',
 'origin_lat',
 'origin_long',
 'prev_transfers_code',
 'trip_first_route_code',
 'trip_first_route',
 'trip_first_route_other',
 'trip_second_route_code',
 'trip_second_route',
 'trip_second_route_other',
 'trip_third_route_code',
 'trip_third_route',
 'trip_third_route_other',
 'trip_fourth_route_code',
 'trip_fourth_route',
 'trip_fourth_route_other',
 'final_origin_transport_code',
 'final_destin_place_type_code',
 'destin_address',
 'destin_city',
 'destin_state',
 'destin_zip',
 'destin_lat',
 'destin_long',
 'next_transfers_code',
 'trip_next_route_code',
 'trip_next_route',
 'trip_next_route_other',
 'trip_after_route_code',
 'trip_after_route',
 'trip_after_route_other',
 'trip_3rd_route_code',
 'trip_3rd_route',
 'trip_3rd_route_other',
 'trip_last4th_rte_code',
 'trip_last4th_rte',
 'trip_last4th_rte_other',
 'total_transfers',
 'final_destin_transport_code',
 'stop_on_addr',
 'stop_on_clntid',
 'stop_on_lat',
 'stop_on_long',
 'stop_off_addr',
 'stop_off_clntid',
 'stop_off_lat',
 'stop_off_long',
 'prev_tran_1_on_bus_lat',
 'prev_tran_1_on_bus_long',
 'prev_tran_1_off_bus_lat',
 'prev_tran_1_off_bus_long',
 'prev_tran_2_on_bus_lat',
 'prev_tran_2_on_bus_long',
 'prev_tran_2_off_bus_lat',
 'prev_tran_2_off_bus_long',
 'prev_tran_3_on_bus_lat',
 'prev_tran_3_on_bus_long',
 'prev_tran_3_off_bus_lat',
 'prev_tran_3_off_bus_long',
 'prev_tran_4_on_bus_lat',
 'prev_tran_4_on_bus_long',
 'prev_tran_4_off_bus_lat',
 'prev_tran_4_off_bus_long',
 'next_tran_1_on_bus_lat',
 'next_tran_1_on_bus_long',
 'next_tran_1_off_bus_lat',
 'next_tran_1_off_bus_long',
 'next_tran_2_on_bus_lat',
 'next_tran_2_on_bus_long',
 'next_tran_2_off_bus_lat',
 'next_tran_2_off_bus_long',
 'next_tran_3_on_bus_lat',
 'next_tran_3_on_bus_long',
 'next_tran_3_off_bus_lat',
 'next_tran_3_off_bus_long',
 'next_tran_4_on_bus_lat',
 'next_tran_4_on_bus_long',
 'next_tran_4_off_bus_lat',
 'next_tran_4_off_bus_long',
 'time_on_code',
 'time_on',
 'time_period',
 'trip_in_oppo_dir_code',
 'oppo_dir_trip_time_code',
 'r_fare_method_code',
 'r_fare_method_other',
 'where_got_ticket_code',
 'where_got_ticket',
 'where_got_ticket_other',
 'what_ticket_code',
 'type_of_pass_code',
 'transit_use_freq_code',
 'how_no_bus_code',
 'count_vh_hh_code',
 'used_veh_trip_code',
 'buy_car_code',
 'hh_size_code',
 'employed_in_hh_code',
 'child_travel_withyou_code',
 'employment_status_code',
 'student_status_code',
 'student_status_other',
 'disability_code',
 'disability_transp_code',
 'have_dl_code',
 'have_smartphone_code',
 'age_code',
 'race_1',
 'race_2',
 'race_3',
 'race_4',
 'race_5',
 'race_6',
 'race_7',
 'race_other',
 'home_lang_other_code',
 'home_other_lang_code',
 'home_other_lang_other',
 'english_ability_code',
 'income_code',
 'gender_info_code',
 'gender_info_other',
 'survey_language_code',
 'unlinked_weight',
 'linked_weight',
 'prod_lat',
 'prod_long',
 'attract_lat',
 'attract_long',
 'Use',
 'Flag_Weight',
 'Flag_Col',
 'Flag_Sch',
 'Orig_Place',
 'Dest_Place',
 'OD_Place',
 'Purp7_text',
 'Purp5_text',
 'PA_AP',
 'Period',
 'PK_OK',
 'Purp_Per_txt',
 'Purp_Per',
 'Access_Mode',
 'Ac_Mode_Abr',
 'Ac_Mode_Model',
 'Egress_Mode',
 'Eg_Mode_Abr',
 'Eg_Mode_Model',
 'Modefrom1',
 'Modefrom2',
 'Modefrom3',
 'Modefrom4',
 'Mode_Fin',
 'Modeto1',
 'Modeto2',
 'Modeto3',
 'Modeto4',
 'Heir_from1',
 'Heir_from2',
 'Heir_from3',
 'Heir_from4',
 'Heir_fin',
 'Heir_to1',
 'Heir_to2',
 'Heir_to3',
 'Heir_to4',
 'Linked_Heir',
 'Linked_Mode',
 'Linked_Mode_txt',
 'Mode_String',
 'brd_LCL',
 'brd_BRT1',
 'brd_EXP',
 'brd_BRT3',
 'brd_LRT',
 'brd_CRT',
 'incl_LCL',
 'incl_BRT1',
 'Incl_EXP',
 'Incl_BRT3',
 'Incl_LRT',
 'incl_CRT',
 'Num_Routes_Used',
 'Total_Xfer',
 'Vehicles',
 'Veh_Cat3p',
 'ChoiceRider',
 'Auto_Suf',
 'Inc_Cat',
 'h_TAZID',
 'o_TAZID',
 'd_TAZID',
 'p_TAZID',
 'a_TAZID',
 'h_CO_FIPS',
 'p_CO_FIPS',
 'a_CO_FIPS',
 'h_CO_NAME',
 'p_CO_NAME',
 'a_CO_NAME',
 'h_DISTLRG',
 'p_DISTLRG',
 'a_DISTLRG',
 'h_DLRG_NAME',
 'p_DLRG_NAME',
 'a_DLRG_NAME',
 'h_DISTMED',
 'p_DISTMED',
 'a_DISTMED',
 'h_DMED_NAME',
 'p_DMED_NAME',
 'a_DMED_NAME',
 'p_CBD',
 'a_CBD',
 'v83_MC_txt',
 'v83_MC_txt_CBD',
 'v83_MC',
 'v84_MC1_txt',
 'v84_MC1',
 'FirstModeN',
 'SecndModeN',
 'ThirdModeN',
 'LastModeN',
 'FirstMode',
 'SecndMode',
 'ThirdMode',
 'LastMode',
 'p_lat',
 'p_lon',
 'a_lat',
 'a_lon',
 'FirstOn_lat',
 'FirstOn_lon',
 'LastOff_lat',
 'LastOff_lon',
 'p_Stop_lat',
 'p_Stop_lon',
 'a_Stop_lat',
 'a_Stop_lon',
 'access_dist',
 'egress_dist',
 'SurveyedRoute',
 'AdjPeriod',
 'AdjRecord',
 'Adjustment',
 'unlinked_weight_adj',
 'linked_weight_adj',
 'boarded_route']

In [165]:
boarding_stop_lat = [
                     'prev_tran_1_on_bus_lat',
                     'prev_tran_2_on_bus_lat',
                     'prev_tran_3_on_bus_lat',
                     'prev_tran_4_on_bus_lat',
                     'stop_on_lat'           ,
                     'next_tran_1_on_bus_lat',
                     'next_tran_2_on_bus_lat',
                     'next_tran_3_on_bus_lat',
                     'next_tran_4_on_bus_lat'
                    ]

boarding_stop_lon = [
                     'prev_tran_1_on_bus_long',
                     'prev_tran_2_on_bus_long',
                     'prev_tran_3_on_bus_long',
                     'prev_tran_4_on_bus_long',
                     'stop_on_long'           ,
                     'next_tran_1_on_bus_long',
                     'next_tran_2_on_bus_long',
                     'next_tran_3_on_bus_long',
                     'next_tran_4_on_bus_long'
                     ]

alighting_stop_lat = [
                     'prev_tran_1_off_bus_lat',
                     'prev_tran_2_off_bus_lat',
                     'prev_tran_3_off_bus_lat',
                     'prev_tran_4_off_bus_lat',
                     'stop_off_lat'           ,
                     'next_tran_1_off_bus_lat',
                     'next_tran_2_off_bus_lat',
                     'next_tran_3_off_bus_lat',
                     'next_tran_4_off_bus_lat'
                    ]

alighting_stop_lon = [
                     'prev_tran_1_off_bus_long',
                     'prev_tran_2_off_bus_long',
                     'prev_tran_3_off_bus_long',
                     'prev_tran_4_off_bus_long',
                     'stop_off_long'           ,
                     'next_tran_1_off_bus_long',
                     'next_tran_2_off_bus_long',
                     'next_tran_3_off_bus_long',
                     'next_tran_4_off_bus_long'
                     ]

segment_mode       = [
                      'Modefrom1',
                      'Modefrom2',
                      'Modefrom3',
                      'Modefrom4',
                      'Mode_Fin' ,
                      'Modeto1'  ,
                      'Modeto2'  ,
                      'Modeto3'  ,
                      'Modeto4'
                     ]

df_Boardings               = pd.DataFrame()
df_Boardings_LCLTripsOnly  = pd.DataFrame()
df_Alightings_LCLTripsOnly = pd.DataFrame()

#define AdjCode for pivot when model is not related to forecast
#AADT will be adjusted based on difference between scenario and forecast scenario TDMs
#if ForecastScenarioID is note defined, then the associated forecast volume will be used for that year
#DBF don't include filename extension

for index, row in df_OBS.iterrows():
    #print(row['id'])
    
    for s, segment in enumerate(segment_mode):
        if not pd.isnull(row[segment_mode[s]]):
            #print (row[segment_mode[s]])
            
            df_Boardings = df_Boardings.append({'id'         : row['id'                ],
                                                'stop_lat'   : row[boarding_stop_lat[s]],
                                                'stop_lon'   : row[boarding_stop_lon[s]],
                                                'board_mode' : row[segment_mode[s]     ],
                                                'trip_mode'  : row['Mode_Fin'          ],
                                                'weight'     : row['linked_weight_adj' ]
                                               },ignore_index=True)
            
            #trips for LCL only, no transfer to higher modes
            if row['Linked_Mode'] == 4:
                df_Boardings_LCLTripsOnly = df_Boardings_LCLTripsOnly.append({'id'         : row['id'                ],
                                                                              'stop_lat'   : row[boarding_stop_lat[s]],
                                                                              'stop_lon'   : row[boarding_stop_lon[s]],
                                                                              'weight'     : row['linked_weight_adj' ]
                                                                             },ignore_index=True)

    for s, segment in enumerate(segment_mode):
        if not pd.isnull(row[segment_mode[s]]):
            #print (row[segment_mode[s]])
                        
            #trips for LCL only, no transfer to higher modes
            if row['Linked_Mode'] == 4:
                df_Alightings_LCLTripsOnly = df_Alightings_LCLTripsOnly.append({'id'         : row['id'                 ],
                                                                                'stop_lat'   : row[alighting_stop_lat[s]],
                                                                                'stop_lon'   : row[alighting_stop_lon[s]],
                                                                                'weight'     : row['linked_weight_adj'  ]
                                                                               },ignore_index=True)


display(df_Boardings)
display(df_Boardings_LCLTripsOnly )
display(df_Alightings_LCLTripsOnly)

       board_mode       id   stop_lat    stop_lon  trip_mode  weight
0             7.0     22.0  40.783280 -111.980172        7.0   0.781
1             4.0     22.0  40.693235 -111.960223        7.0   0.781
2             4.0     22.0  40.667721 -111.958925        7.0   0.781
3             7.0     24.0  40.783280 -111.980172        7.0  12.733
4             7.0     29.0  40.771578 -111.904318        7.0   3.795
...           ...      ...        ...         ...        ...     ...
21033         8.0  22744.0  40.772532 -111.905124        8.0  11.238
21034         7.0  22745.0  40.769344 -111.901146        8.0   5.976
21035         8.0  22745.0  40.762340 -111.909052        8.0   5.976
21036         7.0  22746.0  40.783280 -111.980172        7.0  13.425
21037         4.0  22746.0  40.771386 -111.944952        7.0  13.425

[21038 rows x 6 columns]

           id   stop_lat    stop_lon  weight
0       749.0  40.723984 -111.897067  17.275
1       751.0  40.723984 -111.897067  18.727
2       753.0  40.725342 -111.885135  18.727
3       756.0  40.690274 -111.876939   9.364
4       756.0  40.725345 -111.877499   9.364
...       ...        ...         ...     ...
4742  22553.0  40.723668 -111.546827  16.570
4743  22578.0  40.713211 -111.977285   2.638
4744  22578.0  40.693515 -111.960611   2.638
4745  22584.0  40.278988 -111.728121   3.356
4746  22586.0  40.287901 -111.733655   1.963

[4747 rows x 4 columns]

           id   stop_lat    stop_lon  weight
0       749.0  40.723984 -111.897067  17.275
1       751.0  40.723984 -111.897067  18.727
2       753.0  40.725342 -111.885135  18.727
3       756.0  40.725152 -111.876887   9.364
4       756.0  40.725345 -111.877499   9.364
...       ...        ...         ...     ...
4742  22553.0  40.723668 -111.546827  16.570
4743  22578.0  40.713211 -111.977285   2.638
4744  22578.0  40.703329 -111.899597   2.638
4745  22584.0  40.278988 -111.728121   3.356
4746  22586.0  40.287901 -111.733655   1.963

[4747 rows x 4 columns]

In [174]:
display("All Boardings: ")
display(df_Boardings[['weight']].sum())
display("LCL only Boardings: ")
display(df_Boardings_LCLTripsOnly[['weight']].sum())
display("LCL only Alightings: ")
display(df_Alightings_LCLTripsOnly[['weight']].sum())

'All Boardings: '

weight    158738.723
dtype: float64

'LCL only Boardings: '

weight    46300.567
dtype: float64

'LCL only Alightings: '

weight    46300.567
dtype: float64

Note: Checks out!! Total boardings from OBS (unlinked_weight_adj) is 158,739, which matches sum of weight when listed by boarding separately.

In [167]:
#aggregate by board mode
df_Boardings_Stop_BoardMode = df_Boardings.groupby(['stop_lat','stop_lon','board_mode'],as_index=False).agg({'weight':[np.sum]})

#rename columns
df_Boardings_Stop_BoardMode.columns = ('stop_lat','stop_lon','board_mode','boardings')

display(df_Boardings_Stop_BoardMode)
display(df_Boardings_Stop_BoardMode[['boardings']].sum())

#aggregate by trip mode
df_Boardings_Stop_TripMode  = df_Boardings.groupby(['stop_lat','stop_lon','trip_mode' ],as_index=False).agg({'weight':[np.sum]})

#rename columns
df_Boardings_Stop_TripMode.columns = ('stop_lat','stop_lon','trip_mode','boardings')

display(df_Boardings_Stop_TripMode)
display(df_Boardings_Stop_TripMode[['boardings']].sum())

       stop_lat    stop_lon  board_mode  boardings
0     39.975518 -111.776579         4.0     13.119
1     39.975519 -111.784847         4.0     32.796
2     39.975697 -111.785858         4.0      2.952
3     40.031241 -111.743809         4.0      4.682
4     40.031249 -111.753537         4.0      6.835
...         ...         ...         ...        ...
2800  41.515071 -112.015589         4.0      2.805
2801  41.516581 -112.015741         4.0      4.021
2802  41.520662 -112.015687         4.0      2.902
2803  41.524897 -112.014951         4.0     48.951
2804  41.525045 -112.014019         4.0      4.224

[2805 rows x 4 columns]

boardings    158738.723
dtype: float64

       stop_lat    stop_lon  trip_mode  boardings
0     39.975518 -111.776579        4.0     13.119
1     39.975519 -111.784847        4.0     32.796
2     39.975697 -111.785858        4.0      2.952
3     40.031241 -111.743809        4.0      4.682
4     40.031249 -111.753537        4.0      6.835
...         ...         ...        ...        ...
3775  41.516581 -112.015741        4.0      4.021
3776  41.520662 -112.015687        4.0      2.902
3777  41.524897 -112.014951        4.0     45.912
3778  41.524897 -112.014951        8.0      3.039
3779  41.525045 -112.014019        8.0      4.224

[3780 rows x 4 columns]

boardings    158738.723
dtype: float64

In [168]:
df_Boardings_Stop_BoardMode_pvt = df_Boardings_Stop_BoardMode.pivot_table(index=['stop_lat','stop_lon'], columns='board_mode')


df_Boardings_Stop_BoardMode_pvt.columns = df_Boardings_Stop_BoardMode_pvt.columns.droplevel(0)
df_Boardings_Stop_BoardMode_pvt = df_Boardings_Stop_BoardMode_pvt.reset_index()

df_Boardings_Stop_BoardMode_pvt.index.name = 'stopid'

df_Boardings_Stop_BoardMode_pvt = df_Boardings_Stop_BoardMode_pvt.rename(columns={4.0: "BoardMode_4", 5.0: "BoardMode_5", 6.0: "BoardMode_6", 7.0: "BoardMode_7", 8.0: "BoardMode_8", 9.0: "BoardMode_9"})

display(df_Boardings_Stop_BoardMode_pvt)
display(df_Boardings_Stop_BoardMode_pvt[['BoardMode_4','BoardMode_5','BoardMode_6','BoardMode_7','BoardMode_8','BoardMode_9']].sum())
display(df_Boardings_Stop_BoardMode_pvt[['BoardMode_4','BoardMode_5','BoardMode_6','BoardMode_7','BoardMode_8','BoardMode_9']].sum().sum())

#df_Boardings_Stop_BoardMode_pvt.columns

board_mode,stop_lat,stop_lon,BoardMode_4,BoardMode_5,BoardMode_6,BoardMode_7,BoardMode_8,BoardMode_9
stopid,,,,,,,,
0,39.975518,-111.776579,13.119,NaN,NaN,NaN,NaN,NaN
1,39.975519,-111.784847,32.796,NaN,NaN,NaN,NaN,NaN
2,39.975697,-111.785858,2.952,NaN,NaN,NaN,NaN,NaN
3,40.031241,-111.743809,4.682,NaN,NaN,NaN,NaN,NaN
4,40.031249,-111.753537,6.835,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2742,41.515071,-112.015589,2.805,NaN,NaN,NaN,NaN,NaN
2743,41.516581,-112.015741,4.021,NaN,NaN,NaN,NaN,NaN
2744,41.520662,-112.015687,2.902,NaN,NaN,NaN,NaN,NaN
2745,41.524897,-112.014951,48.951,NaN,NaN,NaN,NaN,NaN
2746,41.525045,-112.014019,4.224,NaN,NaN,NaN,NaN,NaN

board_mode
BoardMode_4    63618.208
BoardMode_5     1561.021
BoardMode_6     1503.208
BoardMode_7    58809.173
BoardMode_8    20482.226
BoardMode_9    12764.887
dtype: float64

158738.7230000001

In [169]:
df_Boardings_Stop_TripMode_pvt = df_Boardings_Stop_TripMode.pivot_table(index=['stop_lat','stop_lon'], columns='trip_mode')

df_Boardings_Stop_TripMode_pvt.columns = df_Boardings_Stop_TripMode_pvt.columns.droplevel(0)
df_Boardings_Stop_TripMode_pvt = df_Boardings_Stop_TripMode_pvt.reset_index()

df_Boardings_Stop_TripMode_pvt.index.name = 'stopid'

df_Boardings_Stop_TripMode_pvt = df_Boardings_Stop_TripMode_pvt.rename(columns={4.0: "TripMode_4", 5.0: "TripMode_5", 6.0: "TripMode_6", 7.0: "TripMode_7", 8.0: "TripMode_8", 9.0: "TripMode_9"})

display(df_Boardings_Stop_TripMode_pvt)
display(df_Boardings_Stop_TripMode_pvt[['TripMode_4','TripMode_5','TripMode_6','TripMode_7','TripMode_8','TripMode_9']].sum())
display(df_Boardings_Stop_TripMode_pvt[['TripMode_4','TripMode_5','TripMode_6','TripMode_7','TripMode_8','TripMode_9']].sum().sum())

#df_Boardings_Stop_TripMode_pvt.columns

trip_mode,stop_lat,stop_lon,TripMode_4,TripMode_5,TripMode_6,TripMode_7,TripMode_8,TripMode_9
stopid,,,,,,,,
0,39.975518,-111.776579,13.119,NaN,NaN,NaN,NaN,NaN
1,39.975519,-111.784847,32.796,NaN,NaN,NaN,NaN,NaN
2,39.975697,-111.785858,2.952,NaN,NaN,NaN,NaN,NaN
3,40.031241,-111.743809,4.682,NaN,NaN,NaN,NaN,NaN
4,40.031249,-111.753537,6.835,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2742,41.515071,-112.015589,NaN,NaN,NaN,NaN,2.805,NaN
2743,41.516581,-112.015741,4.021,NaN,NaN,NaN,NaN,NaN
2744,41.520662,-112.015687,2.902,NaN,NaN,NaN,NaN,NaN
2745,41.524897,-112.014951,45.912,NaN,NaN,NaN,3.039,NaN
2746,41.525045,-112.014019,NaN,NaN,NaN,NaN,4.224,NaN

trip_mode
TripMode_4    62689.681
TripMode_5     1758.997
TripMode_6     1559.010
TripMode_7    59248.998
TripMode_8    20628.057
TripMode_9    12853.980
dtype: float64

158738.72300000014

In [170]:
df_Boardings_All = pd.DataFrame.merge(df_Boardings_Stop_BoardMode_pvt, df_Boardings_Stop_TripMode_pvt, on=['stop_lat','stop_lon'], how='outer')
df_Boardings_All = df_Boardings_All.fillna(0)
df_Boardings_All

,stop_lat,stop_lon,BoardMode_4,BoardMode_5,BoardMode_6,BoardMode_7,BoardMode_8,BoardMode_9,TripMode_4,TripMode_5,TripMode_6,TripMode_7,TripMode_8,TripMode_9
0,39.975518,-111.776579,13.119,0.0,0.0,0.0,0.0,0.0,13.119,0.0,0.0,0.0,0.000,0.0
1,39.975519,-111.784847,32.796,0.0,0.0,0.0,0.0,0.0,32.796,0.0,0.0,0.0,0.000,0.0
2,39.975697,-111.785858,2.952,0.0,0.0,0.0,0.0,0.0,2.952,0.0,0.0,0.0,0.000,0.0
3,40.031241,-111.743809,4.682,0.0,0.0,0.0,0.0,0.0,4.682,0.0,0.0,0.0,0.000,0.0
4,40.031249,-111.753537,6.835,0.0,0.0,0.0,0.0,0.0,6.835,0.0,0.0,0.0,0.000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2742,41.515071,-112.015589,2.805,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0,2.805,0.0
2743,41.516581,-112.015741,4.021,0.0,0.0,0.0,0.0,0.0,4.021,0.0,0.0,0.0,0.000,0.0
2744,41.520662,-112.015687,2.902,0.0,0.0,0.0,0.0,0.0,2.902,0.0,0.0,0.0,0.000,0.0
2745,41.524897,-112.014951,48.951,0.0,0.0,0.0,0.0,0.0,45.912,0.0,0.0,0.0,3.039,0.0
2746,41.525045,-112.014019,4.224,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0,4.224,0.0

In [171]:
df_Boardings_All.to_csv(os.path.join(dirResults, r'OBS_Stop_Boardings_All.csv'),index=False)

In [176]:
#aggregate by board mode
df_Boardings_Stop_LCLTripsOnly = df_Boardings_LCLTripsOnly.groupby(['stop_lat','stop_lon'],as_index=False).agg({'weight':[np.sum]})

#rename columns
df_Boardings_Stop_LCLTripsOnly.columns = ('stop_lat','stop_lon','boardings')
display(df_Boardings_Stop_LCLTripsOnly)
display(df_Boardings_Stop_LCLTripsOnly['boardings'].sum())

#aggregate by board mode
df_Alightings_Stop_LCLTripsOnly = df_Alightings_LCLTripsOnly.groupby(['stop_lat','stop_lon'],as_index=False).agg({'weight':[np.sum]})

#rename columns
df_Alightings_Stop_LCLTripsOnly.columns = ('stop_lat','stop_lon','alightings')
display(df_Alightings_Stop_LCLTripsOnly)
display(df_Alightings_Stop_LCLTripsOnly['alightings'].sum())

       stop_lat    stop_lon  boardings
0     39.975518 -111.776579     13.119
1     39.975519 -111.784847     13.119
2     39.975697 -111.785858      2.952
3     40.031241 -111.743809      4.682
4     40.031249 -111.753537      6.835
...         ...         ...        ...
1914  41.507846 -112.015943      2.742
1915  41.511563 -112.015870      9.678
1916  41.514523 -112.015786     10.343
1917  41.520662 -112.015687      2.902
1918  41.524897 -112.014951     45.912

[1919 rows x 3 columns]

46300.566999999995

       stop_lat    stop_lon  alightings
0     39.975518 -111.776579      13.119
1     39.975519 -111.784847      13.119
2     40.031241 -111.743809       7.600
3     40.031249 -111.753537       6.835
4     40.032313 -111.754406      39.838
...         ...         ...         ...
1901  41.498105 -112.016102       4.933
1902  41.502959 -112.016011       4.021
1903  41.511563 -112.015870       9.678
1904  41.514523 -112.015786       8.043
1905  41.524897 -112.014951      45.912

[1906 rows x 3 columns]

46300.566999999995

In [177]:
df_Boardings_Stop_LCLTripsOnly.to_csv(os.path.join(dirResults, r'OBS_Stop_Boardings_LCLTripsOnly.csv'),index=False)
df_Alightings_Stop_LCLTripsOnly.to_csv(os.path.join(dirResults, r'OBS_Stop_Boardings_LCLTripsOnly.csv'),index=False)

In [187]:
df_BoardingsAndAlightings_Stop_LCLTripsOnly = pd.DataFrame.merge(df_Boardings_Stop_LCLTripsOnly, df_Alightings_Stop_LCLTripsOnly, on=('stop_lat','stop_lon'), how='outer')
df_BoardingsAndAlightings_Stop_LCLTripsOnly = df_BoardingsAndAlightings_Stop_LCLTripsOnly.fillna(0)
df_BoardingsAndAlightings_Stop_LCLTripsOnly['TotalOnOff'] = df_BoardingsAndAlightings_Stop_LCLTripsOnly['boardings'] + df_BoardingsAndAlightings_Stop_LCLTripsOnly['alightings']
df_BoardingsAndAlightings_Stop_LCLTripsOnly['TotalOnOff_Half'] = df_BoardingsAndAlightings_Stop_LCLTripsOnly['TotalOnOff']/2
display(df_BoardingsAndAlightings_Stop_LCLTripsOnly)
display(df_BoardingsAndAlightings_Stop_LCLTripsOnly['TotalOnOff_Half'].sum())
df_BoardingsAndAlightings_Stop_LCLTripsOnly.to_csv(os.path.join(dirResults, r'OBS_Stop_BoardingsAndAlightings_LCLTripsOnly.csv'),index=False)

,stop_lat,stop_lon,boardings,alightings,TotalOnOff,TotalOnOff_Half
0,39.975518,-111.776579,13.119,13.119,26.238,13.1190
1,39.975519,-111.784847,13.119,13.119,26.238,13.1190
2,39.975697,-111.785858,2.952,0.000,2.952,1.4760
3,40.031241,-111.743809,4.682,7.600,12.282,6.1410
4,40.031249,-111.753537,6.835,6.835,13.670,6.8350
...,...,...,...,...,...,...
2173,41.307319,-112.005824,0.000,26.754,26.754,13.3770
2174,41.485739,-112.016771,0.000,7.686,7.686,3.8430
2175,41.486404,-112.027353,0.000,5.274,5.274,2.6370
2176,41.492918,-112.015973,0.000,3.037,3.037,1.5185
2177,41.496448,-112.015955,0.000,3.005,3.005,1.5025

46300.566999999995

# TDM Boardings and Alightings for Comparison

In [6]:
from arcpy import env
from arcpy import TableToTable_conversion

In [17]:
dbf_TDMpastation = os.path.join(dirInput       , r'from TDM Step2c3\_v832_SE19_Net19_1_PA_Station.dbf')
csv_TDMpastation = os.path.join(dirIntermediate, r'TDMPAStationData.csv')

In [19]:
# Create function that converts dbfs to csvs using arcpy
def dbfToCSV(dbf, csv):
    TableToTable_conversion(dbf, os.path.dirname(csv), os.path.basename(csv))

# Allow arcpy to overwrite output files
env.overwriteOutput = True

# convert dbfs to csvs
dbfToCSV(dbf_TDMpastation, csv_TDMpastation)

In [20]:
df_TDMpastation = pd.read_csv(csv_TDMpastation)
df_TDMpastation

,OID_,MODE,NAMEID,NAME,OPERATOR,LINKSEQ,A,B,STOPA,STOPB,...,DY_D8_BRDA,DY_W8_BRDA,DY_8_XITB,DY_D9_BRDA,DY_W9_BRDA,DY_9_XITB,DY_D_BRDA,DY_W_BRDA,DY_BRDA,DY_XITB
0,NaN,4,1.000000,D460,0.0,1,20131,3551,1,0,...,2.34,4.9,0.00,0.0,0.00,0.000000,4.42,6.80,11.22,0.000000
1,NaN,4,1.000000,D460,0.0,2,3551,3434,0,1,...,0.00,0.0,0.00,0.0,0.00,0.000000,0.00,0.00,0.00,0.020000
2,NaN,4,1.000000,D460,0.0,3,3434,3458,1,0,...,0.00,0.0,0.00,0.0,0.00,0.000000,0.00,0.44,0.44,0.000000
3,NaN,4,1.000000,D460,0.0,4,3458,3971,0,1,...,0.00,0.0,0.00,0.0,0.00,0.000000,0.00,0.00,0.00,0.180000
4,NaN,4,1.000000,D460,0.0,5,3971,9042,1,0,...,0.00,0.0,0.00,0.0,0.00,0.000000,0.00,0.48,0.48,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12038,NaN,9,109.099999,BRT_ProOrm-,0.0,80,23152,23158,0,1,...,0.00,0.0,27.85,0.0,0.00,318.049988,0.00,0.00,0.00,345.899994
12039,NaN,9,109.099999,BRT_ProOrm-,0.0,81,23158,23159,1,0,...,0.00,0.0,0.00,0.0,5.82,0.000000,0.00,5.82,5.82,0.000000
12040,NaN,9,109.099999,BRT_ProOrm-,0.0,82,23159,24114,0,0,...,0.00,0.0,0.00,0.0,0.00,0.000000,0.00,0.00,0.00,0.000000
12041,NaN,9,109.099999,BRT_ProOrm-,0.0,83,24114,23160,0,0,...,0.00,0.0,0.00,0.0,0.00,0.000000,0.00,0.00,0.00,0.000000
12042,NaN,9,109.099999,BRT_ProOrm-,0.0,84,23160,24332,0,1,...,0.00,0.0,0.70,0.0,0.00,21.020001,0.00,0.00,0.00,21.719999

In [74]:
df_TDMBoardings_LCLOnly  = df_TDMpastation[['A','DY_D4_BRDA','DY_W4_BRDA']]
df_TDMBoardings_LCLOnly.columns = ('Node','BoardingsDr','BoardingsWk')
df_TDMAlightings_LCLOnly = df_TDMpastation[['B','DY_4_XITB' ]]
df_TDMAlightings_LCLOnly.columns = ('Node','Alightings')

display(df_TDMBoardings_LCLOnly)
display(df_TDMAlightings_LCLOnly)

df_TDMBoardings_LCLOnly['Boardings'] = df_TDMBoardings_LCLOnly['BoardingsDr'] + df_TDMBoardings_LCLOnly['BoardingsWk']


df_TDMStationBoardings_LCLOnly  = df_TDMBoardings_LCLOnly.groupby(['Node'],as_index=False).agg({'Boardings' :[np.sum]})
df_TDMStationBoardings_LCLOnly.columns = df_TDMStationBoardings_LCLOnly.columns.droplevel(1)
df_TDMStationBoardings_LCLOnly = df_TDMStationBoardings_LCLOnly[(df_TDMStationBoardings_LCLOnly['Boardings']>0)]

df_TDMStationAlightings_LCLOnly = df_TDMAlightings_LCLOnly.groupby(['Node'],as_index=False).agg({'Alightings':[np.sum]})
df_TDMStationAlightings_LCLOnly.columns = df_TDMStationAlightings_LCLOnly.columns.droplevel(1)
df_TDMStationAlightings_LCLOnly = df_TDMStationAlightings_LCLOnly[(df_TDMStationAlightings_LCLOnly['Alightings']>0)]


df_TDMStationBoardingsAndAlightings_LCLOnly = pd.DataFrame.merge(df_TDMStationBoardings_LCLOnly,df_TDMStationAlightings_LCLOnly,on='Node',how='outer')
df_TDMStationBoardingsAndAlightings_LCLOnly = df_TDMStationBoardingsAndAlightings_LCLOnly.fillna(0)

df_TDMStationBoardingsAndAlightings_LCLOnly['BoardingsAndAlightings'] = df_TDMStationBoardingsAndAlightings_LCLOnly['Boardings'] + df_TDMStationBoardingsAndAlightings_LCLOnly['Alightings']

df_TDMStationBoardingsAndAlightings_LCLOnly['BoardingsAndAlightings_Half'] = df_TDMStationBoardingsAndAlightings_LCLOnly['BoardingsAndAlightings'] / 2

df_TDMStationBoardingsAndAlightings_LCLOnly

        Node  BoardingsDr  BoardingsWk
0      20131         2.08         1.90
1       3551         0.00         0.00
2       3434         0.00         0.44
3       3458         0.00         0.00
4       3971         0.00         0.48
...      ...          ...          ...
10545  11692         0.00         1.72
10546   5143         0.02         0.90
10547   9990         0.00         0.00
10548   5151         0.00         1.02
10549   5154         0.00         0.10

[7274 rows x 3 columns]

       Node  Alightings
0      3551        0.00
1      3434        0.02
2      3458        0.00
3      3971        0.18
4      9042        0.00
...     ...         ...
10545  5143        4.70
10546  9990        0.00
10547  5151        3.78
10548  5154        6.08
10549  5157        5.60

[7274 rows x 2 columns]

C:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

,Node,Boardings,Alightings,BoardingsAndAlightings,BoardingsAndAlightings_Half
0,3406,3.52,0.65,4.17,2.085
1,3407,0.12,0.05,0.17,0.085
2,3412,5.13,30.91,36.04,18.020
3,3415,0.06,5.28,5.34,2.670
4,3417,21.14,17.25,38.39,19.195
...,...,...,...,...,...
1746,10968,0.00,4.22,4.22,2.110
1747,11275,0.00,0.63,0.63,0.315
1748,11294,0.00,0.01,0.01,0.005
1749,22105,0.00,1.86,1.86,0.930
1750,23106,0.00,0.21,0.21,0.105

In [75]:
#check sums
df_TDMStationBoardingsAndAlightings_LCLOnly[['Boardings','Alightings','BoardingsAndAlightings_Half']].sum()

Boardings                      43844.590017
Alightings                     43843.989988
BoardingsAndAlightings_Half    43844.290003
dtype: float64

Matches 43,844 as verified in dbf with Excel

In [76]:
df_TDMStationBoardingsAndAlightings_LCLOnly.to_csv(os.path.join(dirResults,r'TDM_Stop_BoardingsAndAlightings_LCLTripsOnly.csv'),index=False)